body {
    background-image: linear-gradient(to bottom right, #002147, #D5A1AF);
}


.main-logo-tech {
    width: 5%;
    align-items: center;
}

nav {
    background-color: #E65C84;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: x-large;
}

h1:hover {
    animation: aparecer 1s ease-in-out infinite alternate;
    font-family: sans-serif;
    text-align: center;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    scale: 1;
    transition: scale 0.4s;
    background-color: #f4f4f680;
    border-color: #E65C84;
}

.card:hover {
    scale: 1.1;
    transition: scale 0.4s;
}

.card-title {
    color: #E65C84;
    font-family: 'Roboto', sans-serif;
}

.list-group-item {
    background-color: #fad5e0;
    border-color: #E65C84;
}

footer {
    background-color: #002147;
}

.btn-primary {
    scale: 1;
    transition: scale 0.2s;
    color: white;
    background-color: #002147;

}

.btn-primary:hover {
    color: black;
    background-color: #E65C84;
    scale: 1.1;
    transition: scale 0.2s;
}